/* This will load Tailwindcss + all the overwrite from Yearn lib */
@import '@yearn-finance/web-lib/dist/style.next.css';

:root,
:root body[data-theme="light"] {
	--default-rounded: 0rem;
}

* {@apply font-aeonik;}
body {@apply text-neutral-900;}
#app {
	@apply scroll-mt-28;
}

.header-nav-item {
	@apply flex flex-col items-center justify-between cursor-pointer px-4;
	&[aria-selected="true"] {
		& > p {
			@apply pb-5 text-base text-primary font-bold;
		}
		& > div {
			@apply h-0.5 w-full bg-primary;
		}
	}
	&[aria-selected="false"] {
		& > p {
			@apply pb-5 text-base text-neutral-900;
		}
		& > div {
			@apply h-0.5 w-full bg-transparent transition-colors;
		}
		&:hover > p {
			@apply text-primary font-bold;
		}
	}
}


.mobile-nav-item {
	@apply flex flex-col items-start justify-between rounded bg-good-ol-grey-100;
	& > p {
		@apply p-2 text-base font-bold text-neutral-900;
	}
}

.mobile-nav-item {
	@apply flex flex-col items-start justify-between cursor-pointer px-4;
	&[aria-selected="true"] {
		& > p {
			@apply p-2 text-base text-primary;
		}
		& > div {
			@apply h-0.5 w-full bg-primary;
		}
	}
	&[aria-selected="false"] {
		& > p {
			@apply pb-2 text-base text-neutral-900;
		}
		& > div {
			@apply h-0.5 w-full bg-transparent transition-colors;
		}
		&:hover > div {
			@apply bg-neutral-400;
		}
	}

}

.hover-fix::before {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

@layer utilities {
	.tint-grey-100 {
		background-color: #F4F4F4;
	}
	.tint-grey-200 {
		background-color: #EBEBEB;
	}
	.tint-grey-300 {
		background-color: #E1E1E1;
	}
	.tint-grey-400 {
		background-color: #9D9D9D;
	}
	.tint-grey-500 {
		background-color: #7E7E7E;
	}
	.tint-grey-600 {
		background-color: #5B5B5B;
	}
	.tint-grey-700 {
		background-color: #424242;
	}
	.tint-grey-800 {
		background-color: #282828;
	}
	.tint-grey-900 {
		background-color: #0C0C0C;
	}
}