/* This will load Tailwindcss + all the overwrite from Yearn lib */
@import '@yearn-finance/web-lib/dist/style.light.css';
@import	'./public/fonts/fonts.css';

:root,
:root body[data-theme="light"] {
	--default-rounded: 0rem;
	/* 🔵 - Yearn Finance ******************************************************
	**	These are the colors you will use the most and will make up the majority
	**	of your UI. Use them for most of your text, backgrounds, and borders,
	**	as well as for things like secondary buttons and links.
	**************************************************************************/
	--color-primary: 220 95% 50%;

	--color-neutral-0: 0 0% 100%;
	--color-neutral-100: 0 0% 96%;
	--color-neutral-200: 0 0% 92%;
	--color-neutral-300: 0 0% 88%;
	--color-neutral-400: 0 0% 62%;
	--color-neutral-500: 0 0% 50%;
	--color-neutral-600: 0 0% 36%;
	--color-neutral-700: 0 0% 26%;
	--color-neutral-800: 0 0% 16%;
	--color-neutral-900: 0 0% 5%;

	/* Up Only Green */
	--color-green-50: 79 75% 81%;
	--color-green-100: 79 74% 63%;
	--color-green-200: 113 90% 61%;
	--color-green-300: 128 100% 53%;
	--color-green-400: 118 76% 54%;
	--color-green-500: 100 60% 48%;
	--color-green-600: 135 51% 42%;
	--color-green-600: 174 100% 24%;
	--color-green-800: 174 98% 19%;
	--color-green-900: 175 100% 11%;

	/* Tokyo Party */
	--color-purple-50: 288 46% 75%;
	--color-purple-100: 289 46% 50%;
	--color-purple-200: 266 75% 52%;
	--color-purple-300: 258 97% 53%;
	--color-purple-400: 267 67% 45%;
	--color-purple-500: 293 42% 37%;
	--color-purple-600: 272 45% 39%;
	--color-purple-700: 257 50% 40%;
	--color-purple-800: 257 58% 29%;
	--color-purple-900: 257 100% 13%;

	/* Disco Salmon */
	--color-pink-50: 351 100% 96%;
	--color-pink-100: 351 100% 78%;
	--color-pink-200: 333 98% 68%;
	--color-pink-300: 326 95% 60%;
	--color-pink-400: 336 83% 61%;
	--color-pink-500: 350 69% 60%;
	--color-pink-600: 341 59% 51%;
	--color-pink-700: 332 76% 41%;
	--color-pink-800: 332 81% 33%;
	--color-pink-900: 332 100% 21%;

	/* Metaverse Sunset */
	--color-yellow-50: 48 100% 83%;
	--color-yellow-100: 48 100% 66%;
	--color-yellow-200: 60 88% 55%;
	--color-yellow-300: 65 98% 51%;
	--color-yellow-400: 53 94% 49%;
	--color-yellow-500: 40 94% 50%;
	--color-yellow-600: 31 94% 49%;
	--color-yellow-700: 20 97% 47%;
	--color-yellow-800: 14 97% 40%;
	--color-yellow-900: 0 100% 28%;

	font-family: 'Aeonik', sans-serif;
}

* {@apply font-aeonik;}
body {@apply text-neutral-900;}
#app {
	@apply scroll-mt-28
}

.header-nav-item {
	@apply flex flex-col items-center justify-between;
	& > p {
		@apply pb-5 text-base font-normal text-neutral-900;
	}
}

.header-nav-item {
	@apply flex flex-col items-center justify-between cursor-pointer px-4;
	&[aria-selected="true"] {
		& > p {
			@apply pb-5 text-base text-primary;
		}
		& > div {
			@apply h-0.5 w-full bg-primary;
		}
	}
	&[aria-selected="false"] {
		& > p {
			@apply pb-5 text-base text-neutral-900;
		}
		& > div {
			@apply h-0.5 w-full bg-transparent transition-colors;
		}
		&:hover > div {
			@apply bg-neutral-400;
		}
	}

}